body {
    font-family: AleksandraCRegular;
    background: #18222b url(../img/1.jpg) no-repeat;
    background-position: top center;
}

.back {
    padding-top: 40px;
    height: 1080px;
}

.back2 {
    padding-top: 40px;
    height: auto;
}

.back3 {
    padding-top: 200px;
    height: 1080px;
    color: white;
}

.logo {
    height: 100px;
}

.navbar {
    display: flex;
    height: 130px;
    margin-bottom: 200px;
}

.navbar > a {
    color: aliceblue;
    font-size: 25px;
    text-shadow: 2px 2px 2px black, 0 0 1em white;
}

.grey {
    background-color: rgba(50, 50, 50, 0.6);
    height: 300px;
    position: relative;
    width: 100%;
    margin-bottom: 210px;
    padding: 10px
}

.grey > h1 {
    color: white;
    margin: 0;
    position: absolute;
    /* 2 */
    top: 50%;
    /* 3 */
    transform: translate(0, -50%)
}

.table {
    background-color: rgba(100, 100, 100, 0.4);
    text-align: center;
    color: white;
}

#map {
    height: 300px;
}

.contWrap {
    position: relative;
}

.contacts {
    position: absolute;
    bottom: 0;
}

.mainTex {
    text-shadow: 2px 2px 2px black, 0 0 1em white;
}

hr {
    border-color: white;
    margin: 2px
}


@media (max-width: 576px) {
    .navbar {
        display: block;
        height: 130px;
        margin-bottom: 50px;
    }

    .navbar > a {
        color: aliceblue;
        font-size: 20px;
        text-shadow: 2px 2px 2px black, 0 0 1em white;
        text-align: center;
        display: block;
    }
    .back2 {
        padding-top: 40px;
        height: auto;
    }
    .grey > h1 {
        color: white;
        font-size: 20px;
    }
    .back {
        padding-top: 40px;
        height: 1000px;
    }
}

@media (min-width: 576px) {
    .navbar {
        display: block;
        height: 130px;
        margin-bottom: 100px;

    }

    .navbar > a {
        color: aliceblue;
        font-size: 21px;
        text-shadow: 2px 2px 2px black, 0 0 1em white;
        text-align: center;
        display: block;
    }
    .back2 {
        padding-top: 40px;
        height: 1280px;
    }

}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        height: 130px;
        margin-bottom: 100px;
    }

    .navbar > a {
        color: aliceblue;
        font-size: 21px;
        text-shadow: 2px 2px 2px black, 0 0 1em white;
        display: inline-block;
    }
}















@font-face {
    font-family: "AleksandraCRegular";
    src: url("../fonts/AleksandraCRegular/AleksandraCRegular.eot");
    src: url("../fonts/AleksandraCRegular/AleksandraCRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AleksandraCRegular/AleksandraCRegular.woff") format("woff"),
    url("../fonts/AleksandraCRegular/AleksandraCRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
